<!DOCTYPE html>
<html>
    <head>
        <title>Themenwahl</title>
        <style>
            body {
                font-family: sans-serif;
                width: 90%;
                margin: 0 auto;
                padding: 0 30em;
            }
            a {
                color: blue;
            }
            a:visited {
                color: blueviolet;
            }
            a:hover {
                color: red;
            }
            a:active {
                color: greenyellow;
            }
        </style>
    </head>
    <body>
        <h1>Lernvideos zu gegebenen Themen</h1>
        Lernvideo zum Thema Binomische Formeln <br>
        <a href="/BinomischeFormeln">Binomische Formeln</a><br><br>
        Lernvideo zum Thema Quadratische Funktionen <br>
        <a href="/QuadratischeFunktionen">Quadratische Funktionen</a><br><br>
        Lernvideo zum Thema Satz des Pythagoras <br>
        <a href="/SatzDesPythagoras">Satz des Pythagoras</a><br><br>
        <a href="/logout">Logout</a>
    </body>
</html>