<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>
            body {
                font-family: sans-serif;
                width: 90%;
                margin: 0 auto;
                padding: 0 30em;
            }
            a {
                color: blue;
            }
            a:visited {
                color: blueviolet;
            }
            a:hover {
                color: red;
            }
            a:active {
                color: greenyellow;
            }
        </style>
    </head>
    <body>
        <h2> Willkommen <%= benutzername%>.</h2>
            <a href = /Hauptseite> Hier geht es Weiter!</a>
    </body>
</html>