<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/erfolg" method="POST">
            <label for="benutzername">Benutzername:</label><br>
            <input type="text" id="benutzername" name="benutzername" value=""><br>
            <label for="passwort">Passwort:</label><br>
            <input type="text" id="passwort" name="passwort" value=""><br>
            <button type="submit">Anmelden</button>
            <button type="submit">Registrieren</button>
        </form>
    </body>
</html>