<!DOCTYPE html>
<html>
    <head>
        <title>Anmeldung fehlgeschlagen</title>
    </head>
    
        <style>
            body {
                font-family: sans-serif;
                width: 90%;
                margin: 0 auto;
                padding: 0 30em;
            }
            a {
                color: blue;
            }
            a:visited {
                color: blueviolet;
            }
            a:hover {
                color: red;
            }
            a:active {
                color: greenyellow;
            }
        </style>
        <body>
            <h1>Die Eingabedaten sind nicht korrekt.</h1><br>
            <a href = /login>Versuchen Sie es erneut!</a>
        </body>
</html>