<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>
            body {
                font-family: sans-serif;
            }
           form {
                width: 90%;
                background-color: white;
                margin: 0 auto;
                padding: 10em 40em;
            }
            form label {
                display: block;
                font-size: 1em;
                color: darkslategrey;
                padding-left: 3px;    
            }
            button[type=submit] {
                background-color: grey;
                cursor: pointer;
                width: 14em;
                padding: .3em 0;
                border-radius: 0.7em;
            }

            button[type=submit]:hover {
                background-color: greenyellow;
                box-shadow: 2px 2px 2px grey;
            }


        </style>
    </head>
    <body>
        <form action="/registrieren" method="POST">
            <label for="benutzername">Benutzername:</label><br>
            <input type="text" id="benutzername" name="benutzername" value="name"><br>
            <label for="passwort">Passwort:</label><br>
            <input type="text" id="passwort" name="passwort" value="passwort"><br><br>
            <button type="submit">Registrieren</button>
        </form>
    </body>
</html>