<!DOCTYPE html>
<html>
    <head>
        <title>Binomische Formeln</title>
        <style>
            body {
                font-family: sans-serif;
                width: 90%;
                margin: 0 auto;
                padding: 0 30em;
            }
            a {
                color: blue;
            }
            a:visited {
                color: blueviolet;
            }
            a:hover {
                color: red;
            }
            a:active {
                color: greenyellow;
            }
        </style>
    </head>
    <body>
        <h1>Video zum Thema Binomische Formeln:</h1>
        <a href="https://www.youtube.com/watch?v=2N4h3DNCZW0">Zum Video</a><br><br>
        <a href="/logout">Logout</a>
    </body>
</html>