<!DOCTYPE html>
<html>
    <head>
        <title>Quadratische Funktionen</title>
        <style>
            body {
                font-family: sans-serif;
            }
            a {
                color: blue;
            }
            a:visited {
                color: blueviolet;
            }
            a:hover {
                color: red;
            }
            a:active {
                color: greenyellow;
            }
        </style>
    </head>
    <body>
        <h1>Video zum Thema Quadratische Funktionen:</h1>
        <a href="https://www.youtube.com/watch?v=PrMmIPs7dKw">Zum Video</a>
    </body>
</html>